//biến colors
$c0-dark: #000;
$c0-primary: #b61984;
$c0-light: #fff;

//biến bg colors
$bg-c0-primary: #b61984;
$bg-c0-light: #fff;

//biến fontsize
$text-base: 13px;
$text-xl: 14.5px;
$text-2xl: 18px;
$text-3xl: 25px;
$text-4xl: 40px;
$text-5xl: 60px;

//biến về font weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;

//biến về padding
$p-0: 0px;
$p-1: 15px;
$p-15-20: 15px 20px 15px 20px;
$p-2: 20px;
$p-3: 30px;
$p-4: 45px;

//biến về margin
$m-0: 0px;
$m-1: 15px;
$m-2: 30px;
$m-3: 45px;
